model_list:
  - model_name: os.environ/MODEL_NAME
    litellm_params:
      model: os.environ/MODEL_PATH
      api_base: os.environ/VLLM_API_BASE_1
      api_key: os.environ/VLLM_API_KEY
      num_retries: 3
      timeout: 300
  - model_name: os.environ/MODEL_NAME
    litellm_params:
      model: os.environ/MODEL_PATH
      api_base: os.environ/VLLM_API_BASE_2
      api_key: os.environ/VLLM_API_KEY
      num_retries: 3
      timeout: 300      

litellm_settings:
  callbacks: ["prometheus"]
  service_callback: ["prometheus_system"]

general_settings:
  master_key: os.environ/LITELLM_MASTER_KEY
  set_verbose: True
  request_timeout: 600
  drop_params: True
  disable_spend_logs: True
  num_retries: 3
  cache: True
  cache_params:
    type: redis
    host: os.environ/REDIS_HOST
    port: os.environ/REDIS_PORT
    ttl: os.environ/REDIS_CACHE_TTL
    namespace: os.environ/REDIS_CACHE_NAMESPACE